
/*  -------------------------------------------------------------
-------------------------- Portada-------------------------------
------------------------------------------------------------------ */


body {
    background-color: hsl(0, 3%, 93%);
  }

  .balance-section, .filtro-section, .operations-section{
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 1px 1px rgb(228, 228, 228);
  }

.operations-section{
  height: 100vh;
}
  .navbar{
    height: 15vh;
  }

.items-balance{
  width:65vh;
}

/*  -------------------------------------------------------------
-------------------------- Resumen-------------------------------
------------------------------------------------------------------*/
.item-resumen{
  background-color: #caebc7; 
  border-radius: 4px;
  padding: 6px; 
            
}
   


.container-form{
  height: 600px;
  margin-top: 30px;
  background-color: white;
}

.hidden{
display: none;
}

.botones-form{
  margin-top: 80px;
}
